{% extends 'partials/base.html.twig' %}
{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}
{% set collection = page.collection() %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, blog])|defined(true) %}
{% set show_sidebar = header_var('show_sidebar', [page, blog])|defined(true)  %}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}

{% set hot1 =page.find(page.header.hotline1_konten).children.order('date', 'desc')|first %}
{% if hot1==null %}
{% set hot1 =page.find(page.header.hotline1_konten) %}
{% endif %}

{% set hot2 =page.find(page.header.hotline2_konten).children.order('date', 'desc')|first %}
{% if hot2==null %}
{% set hot2 =page.find(page.header.hotline2_konten) %}
{% endif %}

{% set hot3 =page.find(page.header.hotline3_konten).children.order('date', 'desc')|first %}
{% if hot3==null %}
{% set hot3 =page.find(page.header.hotline3_konten) %}
{% endif %}

{% set hl =page.find(page.header.headline_konten).children.order('date', 'desc')|first %}
{% if hl==null %}
{% set hl =page.find(page.header.headline_konten) %}
{% endif %}

{% set bn =page.find(page.header.banner_konten).children.order('date', 'desc')|first %}
{% if bn==null %}
{% set bn =page.find(page.header.banner_konten) %}
{% endif %}

{% set unggulan = { items: '@self.descendants', 'order': {'by': 'popularity', 'dir': 'asc'}, "filter":{"type":'artikel'}, "limit": 10} %}
{% set my_unggulan = page.collection(unggulan) %}

{% set terbaru = { items: '@self.descendants', 'order': {'by': 'newest', 'dir': 'asc'}, "filter":{"type":'artikel'}, "limit": 5} %}
{% set my_terbaru = page.collection(terbaru) %}

{% set unggulan2 = { items: '@self.descendants', 'order': {'by': 'popularity', 'dir': 'asc'}, "filter":{"type":'artikel'}} %}
{% set my_unggulan2 = page.collection(unggulan2) %}

{% set populer = { items: '@self.descendants', 'order': {'by': 'popularity', 'dir': 'asc'}, "filter":{"type":'artikel'}} %}
{% set my_populer = page.collection(populer) %}

{% set terbaru_bawah = { items: '@self.descendants', 'order': {'by': 'newest', 'dir': 'asc'}, "filter":{"type":'artikel'}} %}
{% set my_terbaru_bawah = page.collection(terbaru_bawah) %}

{% set koleksi = { items: '@self.descendants', 'order': {'by': 'newest', 'dir': 'asc'}, "filter":{"type":'artikel'}} %}
{% set my_koleksi = page.collection(koleksi) %}

{% set kategori = { items: '@self.children', 'order': {'by': 'popularity', 'dir': 'asc'}, "filter":{"type":'kategori'}} %}
{% set my_kategori = page.collection(kategori) %}




{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
<style>
#unggulan-next, #unggulan-prev{
  float: right;
}
#unggulan-next i, #unggulan-prev i {
  font-size: 10px;
  color: #000;
}
.teaser_topik h3 a{
  color: #000;
}
.teaser_topik {
  width: 150px;
}
.kop_hottopik{
  border-bottom: none;
}
.headline #bx-pager p{
  margin-top: 15px;
  cursor: pointer;
}
.headline #bx-pager ul li a.active{
  border-top: 2px solid #000;
}
h4.widget-title {
    font-size: 16px;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
}
h4.widget-title a::after {
    background: #000 none repeat scroll 0 0;
    bottom: 10px;
    content: "";
    display: inline-block;
    height: 1px;
    left: 100%;
    position: absolute;
    width: 100vw;
}
h4.widget-title span {
    padding-left: 15px;
    padding-right: 10px;
}
h4.widget-title span::before {
    background: #000 none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 8px;
    left: 0;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 8px;
}
.left-first.overview h4.widget-title a::after {
    width: 100%;
}
.box .img_populer_teaser{
  background-color: #fff;
  padding: 15px 0 24px 0;
}
.box .img_populer_teaser h2 a{
  color: #000;
}
.conten_populer ul li {
    padding: 15px 0;
    background-color: #fff;
    width: 100%;
}
.conten_populer ul li .img_populer{
    display: block;
    float: left;
    margin: 0 15px 0 0;
    position: relative;
    width: 35%;
    padding-bottom: 30%;
    background-color: #f3f3f3;
}
.conten_populer ul li .img_populer img{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
}
.teaser_populer h3 a{
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-family: 'IBM Plex Serif', serif;
}
.box .img_populer_teaser h2 a{
  font-size: 18px;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 500;
  line-height: 1.4;
}
.teaser_populer p{
    color: #888;`
    margin-top: 10px;
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
    font-weight: 300;
}
.img_populer_one span{
    font-family: 'Playfair Display', serif;
    background-color: #000;
    color: #fff;
    padding: 6px 12px;
    font-size: 14px;
    position: absolute;
    font-weight: 300;
    right: 12px;
    margin-top: 12px;
}
.img_populer_one, .img_populer_one img{
  height: auto;
}

.conten1{
    background-color: #fff;
    border-top: none;
    border-bottom: 1px #eee solid;
}
.center_conten1{
  width: 100%;
}
.wrap_line{
  background-color: #000 !important;
  border-bottom: 4px #000 solid;
}
.teaser_conten1 p{
  font-family: 'Playfair Display', serif;
}
.center_conten1 .date{
  font-family: 'Playfair Display', serif;
}
.teaser_conten1 h2{
  margin-top: 15px;
}
.teaser_conten1 h1 p a{
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    color: #000;
}
.teaser_conten1 h1 p a::after{
    content: "";
    display: block;
    width: 34px;
    height: 4px;
    margin-top: 2px;
    background-color: #000;
}
.teaser_conten1 h2 a{
  color: #000;
  font-size: 18px;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 600;
}
.puisi-sastra h2{
  font-family: 'IBM Plex Serif', serif;
  font-weight: 600;
  font-size: 22px;
  color: #000;
}
.knl_vid p{
  font-family: 'Playfair Display', serif;
}
.txt_subkanal.home h2 a{
  font-family: 'IBM Plex Serif', serif;
  color: #000;
}
.puisi-sastra .kop_kanal h2 a{
  color: #000;
}
.puisi-sastra .kop_kanal h2 a::before{
  background: rgba(0, 0, 0, 0) url('{{ url('theme://img/patern-1.png') }}') no-repeat scroll right center;
  content: "";
  display: inline-block;
  height: 30px;
  margin-right: 10px;
  margin-bottom: -7px;
  width: 60px;
}
.puisi-sastra .kop_kanal h2 a::after{
  background: rgba(0, 0, 0, 0) url('{{ url('theme://img/patern-1.png') }}') no-repeat scroll left center;
    content: "";
    display: inline-block;
    height: 30px;
    margin-left: 10px;
        margin-bottom: -7px;
    width: 60px;
}

.conten_populer{
  border: none;
}
.hot_topik_2_center span{
    font-size: 24px;
    float: left;
}
.hot_topik_2_center li a{
    color: #000;
    float: left;
    margin-left: 6px;
    width: calc(100% - 35px);
    font-family: 'IBM Plex Serif', serif;
}
.wrapper_conten_center{
  padding: 0;
  border-top: 0;
}
.populer_set_left li{
  background: #fff;
  border-top: none;
  padding: 0;
}
.populer_set_left_right h1{
  color: #000;
  float: left;
  margin-left: 6px;
  width: calc(100% - 35px);
  font-family: 'IBM Plex Serif', serif;
}
.populer_set_left_right span{
  font-size: 24px;
  float: left;
}
.hot_topik_2{
  margin-bottom: 45px;
}
.hot_topik_2_center ul li{
  border-top: none;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.set_subkanal.home li a{
  color: #000;
}
.banner-freedom img{
  width: 100%;
  margin-bottom: 30px;
}
article img{
  width: 100%;
}
#slider-carousel .wrap{
  height: 230px;
}
#slider-carousel .alith_post_thumb {
  height: 160px;
}
#slider-carousel .grid-caption{
  background: transparent;
  padding: 0;
  color: #000;
}
#slider-carousel .owl-item:hover{
  background: transparent;
}
#slider-carousel {
  margin-top: 0;
}
#slider-small.owl-carousel .owl-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.slider-carousel.owl-carousel .owl-item img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}
#slider-carousel h2{
  font-size: 12pt;
  line-height: 1.2;
  margin-top: 12px;
}
#slider-carousel h2 a{
  color: #000;
}
#slider-carousel .grid-caption{
  position: relative;
}
#slider-carousel .grid-caption .post_meta span{
  border-radius: 20px;
  padding: 5px 8px;
  font-weight: 700;
}
#slider-carousel .post_meta span a{
  color: #fff;
}
#slider-carousel .post_meta_small{
  color: rgb(102, 102, 102);
  font-size: 8pt;
}
.owl-carousel .owl-item{
/*margin-left: 10px;*/
}
.post_list article span{
    font-size: 18pt;
    font-weight: 500;
    margin-top: 12px;
    line-height: 1.2;
    display: block;
}
.post_list article div{
  font-size: 9pt;
  margin-top: 5px;
  color: #333;
	margin-bottom: 20px;
}
.post_list .item-sm{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.post_list .item-sm article img{
  height: 150px;
  width: 100%;
  object-fit: cover;
}
.post_list .item-sm article img.yt-icon{
	position: relative;
    width: 75px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -115px;
    display: block;
}
.post_list .item-sm article span{
  font-size: 12pt;
}

.mySlides{
	width: 100%;
}
.owl-carousel.owl-loaded{
	margin-bottom: -30px;
}

.owl-carousel.owl-loaded{
	margin-top: 0;
    margin-bottom: 45px;
}
.arrow-prev, .arrow-next{
	position: inherit;
}
.owl-prev{
	position: absolute;
    left: 0;
    top: -15px;
    padding: 5px 10px;
    border-radius: 100%;
    background-color: #fff;
}
.owl-prev svg{
	transform:  rotate(180deg);
}
.owl-next{
	position: absolute;
    right: -20px;
    top: -15px;
    padding: 5px 10px;
    border-radius: 100%;
    background-color: #fff;
}
.grid-caption .post_meta span.meta_categories{
	background: transparent;
	padding: 0;
}
.grid-caption .post_meta span.meta_categories a{
	background-color: #000;
    color: #fff;
    padding: 4px 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    display: inline-block;
}
.owl-item h2{
	font-family: 'IBM Plex Serif', serif;
	font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2;
    font-size: 13pt;
}
.owl-item .post_meta_small{
	font-size: 9pt;
    margin-top: 5px;
    color: #333;
}
.bungkus_txt_headline_center{
	padding-top: 53px;
    padding-bottom: 53px;
}
.latest_style_2_item h3.alith_post_title{
	margin: 0;
    margin-left: 40%;
}
.latest_style_2_item h3.alith_post_title a{
	font-size: 11pt;
}
.latest_style_2_item .alith_news_img{
	width: 95px;
	height: 70px;
	object-fit: cover;
}
.alith-instagram-grid-widget img{
	width: 80px;
	height: 80px;
	object-fit: cover;
}
.nav-kategori{
  display: none;

    margin-top: 65px;
}
#nav-sub, #nav-sub.main_nav_cover ul.sub-menu{
	background-color: #f1f1f1;
}
.main_nav_cover #main-menu2{
    padding: 0;
    text-align: center;	
}
.main_nav_cover #main-menu2 li, #nav-sub.main_nav_cover ul.sub-menu li{
	line-height: 40px;
	padding: 0 10px !important;
    display: inline-block;
    position: relative;
}
#nav-sub.main_nav_cover #main-menu2 li a{
	color: #000;
}
#nav-sub.main_nav_cover ul.sub-menu li{
    width: 100%;
    border-bottom: 0.5px #000 solid;
}
.main_nav_cover .menu-item-has-children a::before{
	display: none;
}
.img-article{
	position: relative;
	width: 100%;
	padding-top: 70%;
	/* padding-top: 56.25%; 16:9 Aspect Ratio */
}
.img-article img{
	height: 100%;
    object-fit: cover;
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	font-size: 20px;
	color: white;
}
.img-article img.yt-icon{
	position: relative;
    width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -250px;
    margin-bottom: 0;
    display: block;
}
.item-sm .img-article{
	padding-top: 55%;
}
.w3-content, .alith_tags_all{
	 float: left;
}
.slider-carousel.owl-carousel .owl-item img.yt-icon{
	position: relative;
    width: 75px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -140px;
    margin-bottom: 80px;
    display: block;
}
.more-btn{
	    margin-left: auto;
    margin-right: auto;
    background: #000;
    color: #fff;
    padding: 12px 30px;
    border-radius: 50px;
    margin-bottom: 45px;
    display: table;
    float: none;
}
.sidebar-widget{
	float: left;
}
/*** bx slider ***/
.bx-wrapper{
	border: none;
    box-shadow: none;
}
.headline_set{
	margin-bottom: -24px;
}
.kop_hottopik h3{
    font-size: 11pt;
    margin-top: 0;
}
.img_topik{
	width: 100px;
    height: 65px;
    overflow: hidden;
	float: left;
}
.teaser_topik{
	width: 175px;
	float: left;
    margin-left: 1em;
}
.teaser_topik h3 {
    font-size: 14px;
    line-height: 1.35em;
    font-weight: 600;
    padding: 0;
    letter-spacing: -.035em;
    width: auto;
	float: left;
	margin: 0;
}
.teaser_topik h3 a{
	color: #000;
    font-size: 9pt;
}
.adv_unggulan{
	display: none;
}
#bx-pager ul{
	display: flex;
}
#bx-pager ul li{
	height: auto;
}
@media only screen and (max-width: 728px) {
	.teaser_topik{
		width: 100px;
		float: left;
		margin-left: 0;
	}
	.bx-wrapper img{
		max-width: 100%;
		display: block;
		height: 60vw;
		width: 100%;
		object-fit: cover;
	}
	.teaser_topik h3{
		font-size: 9pt;
		margin-top: 5px;
	}

	.row-mbl{
		margin: 0;
	}
	.post_list article div.img-article{
		margin-top: 5px;
		margin-bottom: 0;
		padding-top: 70%;
	}
	.post_list .item-sm{
		display: flex;
	}
	.post_list .item-sm article img{
		height: 100%;
	}
	.post_list article span, .post_list .item-sm article span{
	    font-size: 9pt;
		line-height: 1.3;
		margin-top: 8px;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	.populer .post_meta_small{
		padding-top: 0;
		font-size: 8pt;
		margin-top: 5px;
		color: #333;
	}
	.populer article span{
		display: block;
		font-weight: 500;
		font-size: 9pt;
		line-height: 1.3;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}
</style>
	<div class="nav-kategori">
      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-12 header">
              <h1 style="font-size: 31pt;">{{page.title}}</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="main-nav section_margin">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-12 main_nav_cover" id="nav-sub">							
                <ul id="main-menu2">
                  {% for pg in page.children.visible %}
                    {% if pg.url != home_url~'/' and pg.template == 'kategori' %}
                    {% set has_child = (pg.children.visible.count > 0) ? 'menu-item-has-children' : '' %}
                        <li class="{{ has_child }}">
                            <a href="{{ pg.url }}">{{ pg.menu }}</a>
                            {% if pg.children.visible.count > 0 %}
                                {% set cek_tipe = 0 %}
                                {% for p in pg.children.visible %}
                                    {% if p.template == 'kategori' %}
                                    {% set cek_tipe = cek_tipe + 1 %}
                                    {% if cek_tipe == 1 %}
                                    <ul class="sub-menu">
                                    {% endif %}
                                    <li><a style="" href="{{ p.url }}">{{ p.menu }}</a></li>   
                                    {% endif %}                                            
                                {% endfor %}
                                {% if cek_tipe > 0 %}
                                    </ul>
                                {% endif %}
                            {% endif %}        
                        </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	<div class="container-fluid">
		<div class="container animate-box">
			<div class="row">	
				<div class="headline_set">
					<div class="wrap_hottopik">
					<div class="kop_hottopik">
						<h3>
						Laporan Khusus
						<span id="unggulan-next"></span>
						<span id="unggulan-prev"></span>
						</h3>
					</div>
					<div class="wrap_hottopik_set">
						<ul class="bxslider_unggulan">
						{% for p in my_unggulan %}
						<li>
							<div class="img_topik">
							<img class="unggulan-news lazy" data-index="0" src="{{ p.media.images|first.url }}" />
							</div>
							<div class="teaser_topik">
							<div class="adv_unggulan">Kategori</div>
							<h3>
								<a href="{{ p.url }}">{{ p.title }}</a>
							</h3>
							</div>
						</li>
						{% endfor %}
						</ul>
					</div>
					</div>
				</div>    
			</div>
			<div class="primary margin-15">
				<div class="row">
					<div class="col-md-8">
						<div class="headline">
							<ul class="bxslider">
							{% for p in my_terbaru %}
							{% if p.template == "artikel" %}
								<li>
								<div class="line_blok">
									<h3>{{ p.parent.title }}</h3>
								</div>
								<div class="bungkus_txt_headline">
									<div class="bungkus_txt_headline_center">
									<h2>
										<a href="{{ p.url }}">{{ p.title }}</a>
									</h2>
									</div>
								</div>
								<img src="{{ p.media.images|first.url }}" class="img-headline" data-index="{{ loop.index - 1}}" />
								</li>
							{% endif %}
							{% endfor %}
							</ul>
							<div id="bx-pager">
								<ul>
								{% for p in my_terbaru %}
								{% if p.template == "artikel" %}
								<li>
									<a data-slide-index="{{ loop.index - 1}}" href="#">
									<img class="lazy" data-original="{{ p.media.images|first.url }}" />
									</a>
									<div class="margin_pager">
									<p data-href="{{ p.url }}" class="link-headline">{{ p.title }}</p>
									</div>
								</li>
								{% endif %}
								{% endfor %}
								</ul>
							</div>
							<script>
								$('.link-headline').click(function() {
								location.href = $(this).attr('data-href');
								})
							</script>
						</div>
					</div>


					<aside class="col-md-4 sidebar_right">
						<div class="sidebar-widget">					
							<div class="widget-title-cover" style="margin-bottom: -30px; margin-top: -30px;"><h4 class="widget-title"><span>FreedomNews TV</span></h4></div>
							<div class="latest_style_2">
								{# <iframe width="560" height="250" src="https://www.youtube.com/embed/{{ getLastVideo('UCvSYYzVjbf8vHu03UKrBe2w') }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="margin-top: 30px; margin-bottom: 15px;"></iframe> #}
								<iframe width="560" height="250" src="https://www.youtube.com/embed/v47PELlsgwo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="margin-top: 30px; margin-bottom: 15px;"></iframe>
								<a href="https://www.youtube.com/@freedomnewsid" class="more-video">Lihat lebih banyak video</a>
							</div>
						</div>
						<div class="w3-content w3-section">
							<img class="mySlides w3-animate-fading" src="{{ url('theme://img/banner/banner1.jpeg') }}">
							<img class="mySlides w3-animate-fading" src="{{ url('theme://img/banner/banner2.jpeg') }}">
							<img class="mySlides w3-animate-fading" src="{{ url('theme://img/banner/banner3.jpeg') }}">	
						</div>
						<script>
						var myIndex = 0;
						carousel();

						function carousel() {
						var i;
						var x = document.getElementsByClassName("mySlides");
						for (i = 0; i < x.length; i++) {
							x[i].style.display = "none";  
						}
						myIndex++;
						if (myIndex > x.length) {myIndex = 1}    
						x[myIndex-1].style.display = "block";  
						setTimeout(carousel, 4000);    
						}
						</script>
					</aside>
					<!--End Sidebar-->
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="widget-title-cover"><h4 class="widget-title"><span>Populer</span></h4></div>
						<div class="row populer">
						{% for p in my_unggulan2.slice(0, 8) %}
							{% if p.template == "artikel" %}
							<div class="col-md-3">
								<a href="{{p.url}}">
								<article>
									<img src="{{ p.media.images|first.url }}" />
									<span>{{ p.title }}</span>
									<div class="post_meta_small">{{p.header.date|date("d M Y H:i")}}</div>
								</article>
								</a>
							</div>
							{% endif %}
						{% endfor %}
						</div>

						{% set cek_tipe = 0 %}
						{% for page in my_kategori %}
						{% if page.children.count > 0 %}
							{% set p_collection = page.collection({ items: {'@page.descendants':'/'~page.slug}, "filter":{"types":['artikel','video_youtube']} }) %}
							{% set p_length = p_collection|length %}

							{% set cek_tipe = cek_tipe + 1 %}
							{% if (cek_tipe is odd) %}
							<div class="post_list post_list_style_1">
							<div class="row">
								<div class="widget-title-cover"><h4 class="widget-title"><span><a href="{{page.url}}">{{page.title}}</a></span></h4></div>
								{% for p in p_collection.slice(0, 5) %}
							
									{% if loop.index == 1 %}
									<div class="col-md-6 hidden-xs">
									{% elseif loop.index == 2 %}
									<div class="col-md-6 col-xs-12">
										<div class="row item-sm">
									{% endif %}

											{% if loop.index == 1 %}
											<div class="col-md-12 col-xs-6">
											{% else %}
											<div class="col-md-6 col-xs-6">
											{% endif %}	

												<a href="{{p.url}}">
													<article>
														<div class="img-article">
														{% if p.header.link==null %} {# Jika bukan video youtube #}
															<img src="{{ p.media.images|first.url }}" />
														{% else %}
															{% set urly = p.header.link|split('v=', 2) %}
															<img src="https://img.youtube.com/vi/{{ urly.1 }}/0.jpg" />
															<img src="{{ url('theme://img/youtube.png') }}" class="yt-icon"/>
														{% endif %}
															
														</div>
														<span>{{p.title}}</span>
														<div>{{p.header.date|date("d M Y H:i")}}</div>
													</article>
												</a>

											</div>
											
									{% if loop.index == 1 %}
									</div>
									{% elseif p_length >= 5 and loop.index == 5 or p_length < 5 and loop.index == p_length %}
										</div>
									</div>
									{% endif %}
										
								{% endfor %} 
							</div>
						</div>
							{% else %}
								<div class="row row-mbl">
									<div class="widget-title-cover"><h4 class="widget-title"><span><a href="{{page.url}}">{{page.title}}</a></span></h4></div>
									<div class="owl-carousel owl-theme js carausel_slider slider-carousel">
										{% for p in p_collection.slice(0, 8) %}
										<div class="item">
											<div class="alith_latest_trading_img_position_relative">
												<div class="wrap">
												<figure class="alith_post_thumb">
													<a href="{{p.url}}">
													{% if p.header.link==null %} {# Jika bukan video youtube #}
														<img class="hover_grey" src="{{ p.media.images|first.url }}" alt=""/>
													{% else %}
														{% set urly = p.header.link|split('v=', 2) %}
														<img class="hover_grey" src="https://img.youtube.com/vi/{{ urly.1 }}/0.jpg" alt=""/>
														<img src="{{ url('theme://img/youtube.png') }}" class="yt-icon"/>
													{% endif %}
													</a>
												</figure>
												</div>
												<div class="grid-caption">
												<div class="post_meta">
													<span class="meta_categories"><a href="{{p.parent.url}}">{{p.parent.title}}</a></span>
												</div>
												<h2><a href="{{p.url}}" title="">{{p.title}}</a></h2>
												<div class="post_meta_small">{{p.header.date|date("d M Y H:i")}}</div>
												</div>
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
							{% endif %}
							<a href="{{ home_url }}/all?cat={{page.slug}}" class="more-btn">Lihat lebih banyak {{page.title}} <i class="fa fa-angle-double-right"></i></a>
						{% endif %}
						{% endfor %}
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="container animate-box">
			<div class="margin-15">
				<div class="row">            
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
						<div class="sidebar-widget">					
						<div class="widget-title-cover"><h4 class="widget-title"><span>Paling Diminati</span></h4></div>
						<div class="latest_style_3">  
						{% for p in my_populer.slice(0, 4) %}
							{% if p.template == "artikel" %}
							<div class="latest_style_3_item">                     
								<span class="item-count vertical-align">{{loop.index}}.</span>
								<div class="alith_post_title_small">
									<a href="{{p.url}}"><strong>{{p.title}}</strong></a>
								</div>
							</div>
							{% endif %}
						{% endfor %}
						</div>
					</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
						<div class="sidebar-widget">					
							<div class="widget-title-cover"><h4 class="widget-title"><span>Terbaru</span></h4></div>
							<div class="latest_style_2">
								{% for p in my_terbaru_bawah.slice(0, 3) %}
								{% if p.template == "artikel" %}
								<div class="latest_style_2_item">
									<figure class="alith_news_img"><a href="{{p.url}}"><img alt="" src="{{ p.media.images|first.url }}" class="hover_grey"></a></figure>
									<h3 class="alith_post_title"><a href="{{p.url}}">{{p.title}}</a></h3>
								</div>
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
						<div class="sidebar-widget">					
							<div class="widget-title-cover"><h4 class="widget-title"><span>Kategori</span></h4></div>
							<ul class="bottom_menu">
								{% for page in pages.children %}
									{% if page.url != home_url~'/' %}
										{% if page.template == "kategori" %}
										<li><a href="{{page.url}}"><i class="fa fa-angle-right"></i>&nbsp;&nbsp; {{page.title}}</a></li>
										{% endif %}
									{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
						<div class="sidebar-widget">					
							<div class="widget-title-cover"><h4 class="widget-title"><span>Koleksi</span></h4></div>
							<ul class="alith-instagram-grid-widget alith-clr alith-row alith-gap-10">
								{% for p in my_koleksi.slice(0, 9) %}
								{% if p.template == "artikel" and p.slug != "all" %}
								<li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
									<a class="" target="_blank" href="{{p.url}}">
										<img class="" title="{{p.title}}" alt="" src="{{ p.media.images|first.url }}">
									</a>
								</li>
								{% endif %}
								{% endfor %}			
							</ul>
						</div>
					</div>
				</div> <!--.row-->
			</div>
		</div>
	</div>
<script>
$(window).scroll(function() {
        var scroll = $(window).scrollTop();
        var timeh = $(".nav-atas").height();
        if (scroll >= 65) {
          $(".nav-utama").css("display","none");
          $(".nav-kategori").css("display","block");
          /*$(".nav-kategori").addClass("showing");
          $(".nav-kategori").css("top",timeh);*/
        }else{
          $(".nav-utama").css("display","block");
          $(".nav-kategori").css("display","none");
          /*
          $(".nav-kategori").removeClass("showing");
          */
        }
        
        console.log(timeh);
      });

    $('.bxslider_unggulan').bxSlider({
      controls: true,
      auto: false,
      pager: false,
      moveSlides: 3,
      touchEnabled: false,
      speed: 500,
      minSlides: 3,
      maxSlides: 15,
      slideWidth: 300,
      nextText: ' <i class="fa fa-chevron-right">&nbsp;</i>',
      prevText: ' <i class="fa fa-chevron-left">&nbsp;</i>',
      nextSelector: '#unggulan-next',
      prevSelector: '#unggulan-prev',
      onSlideBefore: function($slideElement, oldIndex, newIndex) {
        // console.log(newIndex);
        $('.unggulan-news[data-index="' + newIndex + '"]').each(function() {
          //  alert($(this).attr("data-original"));
          $(this).attr("src", $(this).attr("data-original"));
          // $('.unggulan-news[data-index="'+newIndex+'"]').attr('src',origin_) 
        })
      },
    });
</script>
{% endblock %}



