{% extends 'partials/base.html.twig' %}
{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}
{% set collection = page.collection() %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, blog])|defined(true) %}
{% set show_sidebar = header_var('show_sidebar', [page, blog])|defined(true)  %}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}


{% set pagebanner =page.find(page.header.favorit1_konten).children.order('date', 'desc')|first %}
{% if pagebanner==null %}
{% set pagebanner =page.find(page.header.favorit1_konten) %}
{% endif %}

{% set populer = { items: '@self.siblings', 'order': {'by': 'popularity', 'dir': 'asc'}, "filter":{"type":'video_youtube'}} %}
{% set my_populer = page.collection(populer) %}

{% block stylesheets %}
    
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% do assets.add('theme://js/jquery-1.11.0.min.js') %}
    {% do assets.add('theme://js/jquery-ui-1.10.4.min.js') %}
    {% do assets.add('theme://js/jquery.queryloader2.min.js') %}
{% endblock %}

{% block content %}
<style>
      .col-bs12-4,
      .col-bs9-3 {
        width: 33.33333%;
        float: left;
      }

      .footer__bottom {
        letter-spacing: .6px;
        padding-top: 40px;
        padding-bottom: 60px;
      }

      .col-bs10-7 {
        width: 70%;
        float: left;
      }

      .col-bs10-3 {
        width: 30%;
        float: left;
      }

      .footer__menu.inline .footer__link {
        padding: 0 5px;
      }

      .footer__menu.inline .footer__item {
        position: relative;
        display: inline-block;
      }

      .footer__menu.inline .footer__item:after {
        content: "|";
        position: absolute;
        right: -5px;
        bottom: 1px;
      }

      .footer__menu.inline .footer__item:last-child:after {
        content: "";
      }

      .footer__copyright {
        text-align: right;
        padding: 0;
        margin: 0;
        font-size: 14px;
      }

      .footer__copyright p {
        margin: 0;
      }

      .sidebar-widget {
        margin: 0 0 30px 0;
    display: inline-block;
    width: 100%;
}
      .widget-title-cover {
    line-height: 1;
    margin-bottom: 10px;
    overflow: hidden;
}
h4.widget-title {
    font-size: 16px;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
}
h4.widget-title span {
    padding-left: 15px;
    padding-right: 10px;
}
      h4.widget-title span::before {
    background: #000 none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 8px;
    left: 0;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 8px;
}
h4.widget-title::after {
    background: #000 none repeat scroll 0 0;
    bottom: 10px;
    content: "";
    display: inline-block;
    height: 1px;
    left: 100%;
    position: absolute;
    width: 100vw;
}

.latest_style_1_item {
    border-bottom: 1px solid #eee;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
    min-height: 80px;
}
.latest_style_1 .latest_style_1_item:first-child {
    padding-top: 0;
}
.latest_style_1_item span.item-count {
    float: left;
    font-size: 30px;
}
.vertical-align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.latest_style_1_item .alith_post_title_small {
    clear: none;
    float: left;
    left: 40%;
    margin-left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    color: #888;
}
.alith_post_title_small {
    line-height: 1.2;
}
.alith_post_title_small .meta {
    color: #888;
    font-size: 12px;
    margin-top: 10px;
    text-transform: uppercase;
}
.latest_style_1_item .alith_news_img {
    display: block;
    margin: 0;
    position: relative;
    width: 35%;
}
.alith_news_img {
    overflow: hidden;
}
figure {
    margin-bottom: 15px;
    max-width: 100%;
    position: relative;
}
form.search-form input.search-field {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #fff;
    color: #888;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    height: 50px;
    line-height: 30px;
    outline: none;
    padding: 10px;
    background: #fff;
    box-shadow: none;
    border-radius: 0;
    
    border: 1px solid #333;
    font-size: 14px;
    width: 70%;
    float: left;
    
}
form.search-form input.search-submit {
    background: #333 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    float: right;
    letter-spacing: 1px;
    line-height: 30px;
    padding: 10px;
    text-transform: uppercase;
    width: 30%;
}
.alith_tagg {
    background: #f1f1f1;
    padding: 10px 15px;
    color: #222;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    margin-right: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}
.alith_post_thumb_big img{
  height: auto;
    max-width: 100%;
}
.alith_post_thumb_big .post_meta_categories_label {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10;
}
.post_meta_categories_label {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
}
.latest_style_2_item_first {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 10px;
}
.latest_style_2_item {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
}
.latest_style_2_item figure {
    display: block;
    float: left;
    margin: 0 15px 0 0;
    position: relative;
    width: 35%;
}
.latest_style_2_item .alith_news_img {
    overflow: hidden;
}
.latest_style_2_item .alith_news_img img{
  height: auto;
    max-width: 100%;
}
.latest_style_2_item h3.alith_post_title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}
.post_meta {
    font-size: 80%;
    font-weight: 300;
}
.post_meta span {
    color: #888;
    margin: 0 20px 0 0;
}

.site-pagination {
    border-top: 1px solid #eee;
    font-size: 24px;
    padding-top: 30px;
}
ul.page-numbers {
    font-weight: 300;
}
ul.page-numbers li {
  line-height: 28px;
    list-style: none;
    display: inline-block;
    padding: 0 10px 0 0;
}
a {
    color: #000000;
    text-decoration: none;
}
ul.page-numbers li a.prev {
    font-size: 14px;
    padding-left: 30px;
    position: relative;
}
ul.page-numbers li a.next{
  font-size: 14px;
    padding-right: 30px;
    position: relative;
    transition-duration: .2s;
}
ul.page-numbers li a.prev::after {
    background: rgba(0, 0, 0, 0) url(file:///Users/putriwidya/Downloads/themeforest-Evgqzpdp-hewo-modern-newspaper-html-template/HeWo%20Template/assets/images/icon-prev.png) repeat scroll 0 0;
    content: "";
    height: 17px;
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
}
ul.page-numbers li a.next::after {
    background: rgba(0, 0, 0, 0) url(file:///Users/putriwidya/Downloads/themeforest-Evgqzpdp-hewo-modern-newspaper-html-template/HeWo%20Template/assets/images/icon-next.png) repeat scroll 0 0;
    content: "";
    height: 17px;
    position: absolute;
    right: 0;
    top: 0;
    width: 22px;
}
.latest_style_3_item {
    border-bottom: 1px solid #eee;
    min-height: 50px;
    overflow: hidden;
    padding: 40px 0;
    position: relative;
}
.latest_style_3_item span.item-count {
    float: left;
    font-size: 30px;
}
.latest_style_3_item .alith_post_title_small {
    clear: none;
    float: left;
    left: 12%;
    margin-left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
}
.vertical-align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.alith_post_title_small {
    line-height: 1.2;
}
.bottom_menu {
    overflow: hidden;
}
ul {
    margin: 0;
    padding: 0;
}
.bottom_menu li {
    float: left;
    margin: 2px 0;
    width: 50%;
    line-height: 28px;
    list-style: none;
}
.alith-row.alith-gap-10 .alith-col, .alith-row.alith-gap-10 .alith-col-nr {
    float: left;
    margin: 0 0 10px;
    padding: 0 5px;
}
.alith-row .alith-col-3 {
    width: 33.33%;
    line-height: 28px;
    list-style: none;
}
.alith-col-3 img {
    height: auto;
    max-width: 100%;
}
.single-header {
    margin: 0 0 30px;
    padding: 0 0 20px;
}
.single-header .alith_post_title {
    font-size: 36px;
    text-align: center;
}
.single-header .post_meta {
    text-align: center;
}
.single-content .alith_post_except {
    background: #f1f1f1 none repeat scroll 0 0;
    font-size: 120%;
    font-weight: 500;
    padding: 20px;
    text-align: left;
}
.column-2 {
    columns: 2;
    -webkit-columns: 2;
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    text-align: justify;
}
blockquote {
    border: 1px dashed #000;
    display: block;
    font-size: 1.2em;
    line-height: 1.5;
    margin: 30px auto;
    max-width: 500px;
    padding: 60px 20px 20px;
    position: relative;
    text-align: center;
}
blockquote::before {
    content: "“";
    font-family: georgia, serif;
    font-size: 60px;
    left: 50%;
    line-height: 1;
    margin-left: -20px;
    position: absolute;
    top: 18px;
    width: 40px;
    z-index: 20;
}
.single-content img {
    height: auto;
    max-width: 100%;
}
.post-tags {
    text-align: center;
    margin: 40px 0;
}
.post-tags-inner {
    background: #eee;
    display: inline;
    padding: 2px 10px;
    margin: 0 auto;
}
.post-tags a {
    padding: 0 10px;
}
.post-share {
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    margin: 0 0 40px 0;
}
.post-author {
    background: #eee none repeat scroll 0 0;
    overflow: hidden;
    margin-bottom: 45px;
}
.post-author figure {
    display: inline;
    float: left;
    margin: 0 30px 0 0;
}
.post-author .post-author-info {
    padding: 15px 15px 0 0;
}
.post-author-info ul li {
    display: inline-block;
    margin: 0 0 0 5px;
    line-height: 28px;
    list-style: none;
}
.post-author-info ul li a {
    border: 1px solid;
    border-radius: 50%;
    color: #000;
    display: block;
    font-size: 10px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    width: 20px;
}
.post-author-info ul li a i {
    font-size: 10px;
}
.post-related h5{
  font-size: 18pt;
}
iframe{
  width: 100%;
}
      .section_margin {
    margin-bottom: 30px;
}
.alith_news_img img{
  width: 100%;
}
.wrapper_conten_center.container{
    margin-top: 100px;
    padding: 0;
    border-top: none;
    margin-left: auto;
}
.latest_style_1_item .alith_news_img{
  float: left;
}
.post-content{
      padding: 15px;
}
.single-header .alith_post_title{
  float: left;
  width: 100%;
  display: block;
}
.wrapper_conten_center.container{
  margin-top: 0;
}
h4.widget-title{
  margin: 0;
}
    </style>
    <div class="container wrapper_conten_center">
<div class="col-md-8">
            <article class="section_margin">
              {% set urly = page.header.link|split('v=', 2) %}
              <iframe wiidth="810" height="400" src="https://www.youtube.com/embed/{{ urly.1 }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              <div class="post-content">
                <div class="single-header">
                  <h3 class="alith_post_title">{{page.title}}</h3>
                  <div class="post_meta">
                    <span class="meta_categories"><a href="{{page.parent.url}}">{{page.parent.title}}</a></span>
                    <span class="meta_date">{{page.header.date|date("d M Y")}}</span>
                  </div>
                </div>
              </div>
               {{ page.content|raw }}	
            </article>
            
          </div>

          <aside class="col-md-4 sidebar_right" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
         <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;"><div class="sidebar-widget animate-box fadeInUp animated-fast">					
            <div class="widget-title-cover"><h4 class="widget-title"><span>Video Terkait</span></h4></div>
            {% for p in my_populer.slice(0, 10) %}
             <div class="latest_style_1">  
               <div class="latest_style_1_item">      
                  {% set urly = p.header.link|split('v=', 2) %}               
                 <figure class="alith_news_img"><a href="{{p.url}}"><img src="https://img.youtube.com/vi/{{ urly.1 }}/0.jpg" alt=""></a></figure>
                 <div class="alith_post_title_small">
                   <a href="single.html"><strong>{{p.title}}</strong></a><p class="meta"><span>{{page.header.date|date("d M Y")}}</span></p>
                 </div>                                                  
               </div>
             </div>
            {% endfor %}
           </div>
          </div></aside>
          </div>
{% endblock %}